<div class="container" style="text-align: center;margin-top: 10px;">
  <div class="row">
    <div class="col-lg-4" style="height:400px;" [style.background]="div1Color">
      <p style="margin-top: 50%;color: white;">DIV1</p>
    </div>
    <div class="col-lg-4" style="height:400px;" [style.background]="div2Color">
      <p style="margin-top: 50%;color: white;">DIV2</p>
    </div>
    <div class="col-lg-4" style="height:400px;" [style.background]="div3Color">
      <p style="margin-top: 50%;color: white;">DIV3</p>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <button (click)="dispatch()">click here</button>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
